{% extends "base.html" %}

{% block content %}
    <!-- Content -->
    <div id='content'>
    </div>
{% endblock %}

{% block javascript %}
<script type = "text/javascript" >
    var lu_class = $("#launcher_run").attr("class");
    $("#launcher_run").attr("class","active "+lu_class);
var step = ['boot_time', 'net', 'disk', 'cpu', 'mem'];
gen_div(step);
getDisk("{% url 'get_disk_usage' %}");
add_cpu_chart();
cpu_usage(["01","02","03"],[1,0,40],[]);
getBtime("{% url 'get_boot_time' %}");
getMem("{% url 'get_ram_usage' %}");
getNetTab("{% url 'get_eth_name' %}");
getNetIO("{% url 'get_net_io' %}");
getCpu("{% url 'get_cpu_usage' %}");
</script>
{% endblock %}

