{% extends "base.html" %}

{% block content %}
<div id='content'>

</div>
{% endblock %}

{% block javascript %}
{% load static %}
<script src="{% static 'assets/javascripts/jqPaginator.min.js' %}" type="text/javascript"></script>
<script>


  window.setInterval(getNowTime,1000);
  var lu_class = $("#launcher_process").attr("class");
  $("#launcher_process").attr("class","active "+lu_class);
  var step = ['process'];
  gen_div(step);
  gen_table(step);
  gen_tbody(step,
    "<a style='height: 58px' class='button button-large button-block'>进程ID</a>",
    "<a style='height: 58px' class='button button-large button-block'>进程名</a>");

  getProcess("{% url 'get_processes_info' %}",step);
</script>
{% endblock %}